* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background: #e6e6ff;
  line-height: 1.5;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  min-height: 90vh;
  margin: auto;
  padding: 50px 0;
}

.language {
  text-align: right;
  margin-bottom: 10px;
}
.language p {
  color: #0000cc;
  cursor: pointer;
}
.language .lang-active {
  color: black;
  cursor: initial;
  display: none;
}

.wrapper {
  background: white;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #000;
}
.wrapper h1 {
  color: #0000cc;
}

.instruction {
  color: #0000cc;
  margin-bottom: 50px;
}

.headline {
  text-align: center;
  margin-bottom: 40px;
}
.headline h1 {
  margin-bottom: 10px;
}

input {
  height: 40px;
  width: 100px;
  font-size: 14px;
  padding: 0 10px;
  outline: none;
}

.rules {
  display: none;
  flex-direction: column;
  row-gap: 50px;
}

.result-rules {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.result {
  color: #0000cc;
}

.title {
  color: white;
  text-align: center;
  padding: 5px 10px;
  background: #0000cc;
  margin-bottom: 20px;
}

.details-needs {
  display: grid;
  gap: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.customNeed {
  width: 50%;
}

.addNewNeedLink {
  cursor: pointer;
  text-decoration: underline;
  color: #0000cc;
  margin: 30px 0 50px 0;
}
.addNewNeedLink:hover {
  color: purple;
}

.bold-text {
  font-weight: bold;
}

.total-needs {
  color: #0000cc;
}

.calculate-needs {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    padding: 30px;
  }
  input {
    font-size: 16px;
    width: 10rem;
  }
}
@media screen and (min-width: 768px) {
  .details {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 50%;
  }
  .details {
    width: 80%;
  }
}